{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}


<a href="{{ site.url }}/"><img class="sec-icon" style="border-radius: 10px;width: 70px;height: 70px;position: absolute;top: 20px;left: 20px;" src="{{ site.url }}/img/zylogo.png"></a>




<div class="cover-card table-cell table-middle hero-effect">
    {% if author.avatar %}
    <img class="img-circle avatar" src="{{ site.url }}/img/{{ author.avatar }}" alt=""> {% endif %}
    <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
    <span class="author_job">{{ author.job }}</span>
    <span class="author_bio mbm" style="padding-right: 10px;">{{ author.bio }}</span>
    <!-- <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ site.url }}/">home</a>
                <span>/</span>
            </li>
            {% for page in site.pages %} {% if page.title %}
            <li class="nav-item">
                <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a> {% unless forloop.last %}
                <span>/</span> {% endunless %}
            </li>
            {% endif %} {% endfor %}
        </ul>
    </nav> -->
    <a class="btn res-btn" target="_blank" href="{{ site.url }}/assets/YUE_ZHOU_(Joe)_Resume.pdf">
        Download my Resume
    </a>
    {% include social-links.html %}
</div>