<section class="sec-content-s{{include.employment_index}} sec-content-common">
  <header>
    <h4>
      <a class="proj-link" target="_blank" href="hhttps://www.helloworld.com.au/">
        Helllworld Travel Limited - Wholesale Business Systems
      </a>
    </h4>
    <h5> 
      <span class="active-icon">
      </span>
      Full-time Web Developer
    </h5>
    <h5>
      May 2018 - Now, Melbourne, VIC Australia, <a target="_blank" href="https://www.helloworld.com.au/">Hello Travel Limited</a>
    </h5>
  </header>
  <div>
    Working throughout the whole software development cycle – including, but not limited to, solution design, technical specification writing, coding, testing, deployment and ongoing maintenance – on new and existing Wholesale systems and applications.
  </div>
  <div>
    <ul>
      <li>
        Liaise with Business Systems and Applications team members, other HLO departments and external customers to determine system requirements
      </li>
      <li>
        Identify potential enhancements and improvements to systems and applications
      </li>
      <li>
        Liaise with other internal and external application designers/developers and managers to develop Technical Specifications
      </li>
      <li>
        Assist in the design, implementation and maintenance of new and existing applications
      </li>
      <li>
        Maintain and enhance personal knowledge of market products and practice
      </li> 
      <li>
        Share information with team members
      </li>
      <li>
        Other duties as assigned by the Project Delivery Manager
      </li>
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b>
    <ul>
      <li>
        PHP web frameworks: Symfony, Laravel, etc
      </li>
      <li>
        Database management technologies: PostgreSQL, NoSQL databases
      </li>
      <li>
        Code versioning: Git, SVN
      </li>
      <li>
        Issue tracking: Jira
      </li>
      <li>
        Front-end technologies: HTML5, CSS, jQuery, ReactJS, AngularJS
      </li>
      <li>
        Testing: Spring, Hibernate and unit testing
      </li>
      <li>
        Database/caching technologies: HAProxy, Memcache(d), Redis, Elasticsearch,
        PgPool, AWS
      </li>
    </ul>
  </div>
</section>