<section class="sec-content-s{{include.employment_index}}">
  <header>
    <h4>
      <a class="proj-link" href="https://www.sweat.com/">
        Sweat - Webapp & Forum
      </a>
    </h4>
    <h5> 
      - Full-time front-end Developer
    </h5>
    <h5>
      Apr 2017 - Now, SA Australia, <a href="https://pixelforce.com.au">PixelForce</a>
    </h5>
  </header>
  <div>
    Developing the websites (webapp & forum) for the world famous female fitness community 'SWEAT'.
  </div>
  <div>
    <ul>
      <li>
        <b>Requirement Extraction</b> Organising a user requirement meeting with the staff from Ecoversity department of the University of Adelaide, and analysing system requirements for further system design.
      </li>
      <li>
        <b>Application Design</b> Responsible for GUI design such as layout, theme, and styles through using Sass.
      </li>
      <li>
        <b>Core Functions Development</b> Responsible for entire work flow developed meets the requirements which listed on the document.
      </li>
      <li>
        <b>Quality Assurance</b> Responsible for unit test case design for validating the code quality.
      </li> 
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b> Javascript, Node.js, Ember.js, RESTful API, Git, CSS(Sass)
  </div>
</section>