<section class="sec-content-s{{include.employment_index}}">
  <header>
    <h4>
      <a class="proj-link" href="https://malibabar.wordpress.com/2016/09/26/smart-campus-gamification-of-disposing-waste-sustainably/">
        Waste Education Application - Smart Campus
      </a>
    </h4>
    <h5> 
      - Part-time Application Developer
    </h5>
    <h5>
      Dec 2015 - Jul 2016, SA Australia, <a href="https://www.adelaide.edu.au/">University of Adelaide</a>
    </h5>
  </header>
  <div>
    Developing the iOS mobile application ’Waste Education Application’ with the aim of assisting students to improve the consciousness of environmental protection and waste recycling in the campus.
  </div>
  <div>
    <ul>
      <li>
        <b>Requirement Extraction</b> Organising a user requirement meeting with the staff from Ecoversity department of the University of Adelaide, and analysing system requirements for further system design.
      </li>
      <li>
        <b>Application Design</b> Responsible for GUI design such as layout, theme, and styles through using StoryBoard of Swift.
      </li>
      <li>
        <b>Server Establishment</b> Responsible for database establishment by adopting ’Django.’ framework which is implemented by Python based upon MVC pattern.
      </li>
      <li>
        <b>API (Application Interface) Design</b> Responsible for achieving the RESTful API, connecting and enabling the communication between clients and server.
      </li>
      <li>
        <b>Quality Assurance</b> Responsible for unit test case design for validating the code quality.
      </li>
      <li>
        <b>Server Configuration</b> Responsible for server establishment and publishment to ensure application running smoothly, including parameter configuration, feature debugging and version backup.
      </li>  
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b> Javascript, Node.js, RESTful API, Git, MySQL, Photoshop
  </div>
</section>