<section class="sec-content-s{{include.employment_index}} sec-content-common">
  <header>
    <h4>
      <a class="proj-link" target="_blank" href="https://www.sweat.com/">
        Sweat - Webapp & Forum
      </a>
    </h4>
    <h5> 
      <!-- <span class="active-icon">
      </span> -->
      Full-time Web Developer
    </h5>
    <h5>
      Apr 2017 - Mar 2018, SA Australia, <a target="_blank" href="https://www.pixelforce.com.au">PixelForce</a>
    </h5>
  </header>
  <div>
    Work on the websites development for the world famous female fitness community ‘SWEAT' (web application & forum) using Ember.js and Ruby on Rails.
  </div>
  <div>
    <ul>
      <li>
        <b>Web Design</b> Responsible for design such as layout, theme, and styles through using Sass.
      </li>
      <li>
        <b>Core Functions Development</b> Responsible for entire work flow developed meets the requirements which listed on the require document.
      </li>
      <li>
        <b>Quality Assurance</b> Responsible for unit test and integration test case design for validating the code quality.
      </li>
      <li>
        <b>API Development</b> Responsible for part of api developments which provides robust and reliable back service
      </li>
      <li>
        <b>Server Configuration</b> Responsible for server establishment and publishment to ensure application running smoothly, including parameter configuration, feature debugging and version backup. 
      </li> 
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b> 
    <ul>
      <li>
        Javascript(Ember.js, jQuery, Phantom.js)
      </li>
      <li>
        HTML
      </li>
      <li>
        CSS(SASS, Foundation framework)
      </li>
      <li>
        Ruby(Ruby on Rails)
      </li>
      <li>
        Shell scripting
      </li>
      <li>
        Web hosting
      </li>
    </ul>
  </div>
</section>