<section class="sec-content-s{{include.degree_index}} sec-content-common">
  <header>
    <h4>MyiCareer</h4>
    <h5>Mar 2016 - Jul 2016, 
      <a class="proj-link" href="http://autoidlab.cs.adelaide.edu.au/">   Auto-ID Lab
      </a>, University of Adelaide, SA Australia
    </h5>
  </header>
  <div>
    Mainly developed a mobile-based application for the elderly people that could help them prevent any severe issues after fall.
  </div>
  <div>
    <ul>
      <li>
        <b>Back-end Development</b> Establishing the web-based collaborating system by using MVC framework Groovy on Grails.
      </li>
      <li>
        <b>Front-end Development</b> Utilize the Bootstrap framework build the user interface.
      </li>
      <li>
        <b>Multi-tenant Implementation</b> Combination with the Docker technology to achieve the multi-tenant platform.
      </li>
      <li>
        <b>Database Design</b> Adopt the PostgreSQL as the basement to implement the data storage system.
      </li>
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b> Python, Android, Machine Learning(SVM)
  </div>
</section>