<section class="sec-content-s{{include.degree_index}}">
  <header>
    <h4>Collaborative Workspaces of Industrial Systems</h4>
    <h5>Mar 2015 - Oct 2015, University of Adelaide, SA Australia</h5>
  </header>
  <div>
    Developing the platform that is able to assist software teams to be collaborated for designing the software architecture and making important decisions without any localization limitation.
  </div>
  <div>
    <ul>
      <li>
        <b>Back-end Development</b> Establishing the web-based collaborating system by using MVC framework Groovy on Grails.
      </li>
      <li>
        <b>Front-end Development</b> Utilize the Bootstrap framework build the user interface.
      </li>
      <li>
        <b>Multi-tenant Implementation</b> Combination with the Docker technology to achieve the multi-tenant platform.
      </li>
      <li>
        <b>Database Design</b> Adopt the PostgreSQL as the basement to implement the data storage system.
      </li>
    </ul>
  </div>
  <div>
    <b>Relative Skills:</b> Javascript, Groovy on Grails, Java(JSP), Docker, OpenStack, Photoshop
  </div>
</section>