--- 
layout: default
---

<div class="animated fadeInRight">

  <!-- Portfolio -->
  <h1 class="sec-header" style="margin-top: 0px;">
    <i class="fa fa-archive" style="color: #875baf;" aria-hidden="true"></i> Portfolio
  </h1>
  <hr>

  <div>
    {% assign link_address = "https://app.sweat.com/, https://forum.sweat.com/, http://crest-centre.net/, https://zymoridae.github.io/, https://zymoridae.github.io/wst_edu.html, https://zymoridae.github.io/mwa.html, https://zymoridae.github.io/msep.html" | split: ", " %}

    {% assign snap_name = "sweat_webapp_logo.png, sweat_forum_logo.png, crest.png, zymoridae.png, wstedu.jpg, mwa.png, msep.png" | split: ", " %}

    {% assign proj_name = "Sweat Webapp, Sweat Forum, Crest Center, ZyMoridae.github.io, Waste Education System, MyiCarer, Robot Project" | split: ", " %}

    {% assign proj_type= "Web Design & Development, Web Design & Development, Web Design & Development, Web Design & Development, Mobile Application & iOS, Mobile Application & Android, Degree Related Project & Java" | split: ", " %}

    {% for i in (0..6) %}
      <div class="ih-item square effect6 from_top_and_bottom" style="display: inline-block; margin: 15px;">
        <a target="_blank" href="{{ link_address[i] }}">
          <div class="img">
            <img src="{{site.url}}/img/shortcut/{{ snap_name[i] }}" alt="img">
          </div>
          <div class="info">
            <h3>{{ proj_name[i] }}</h3>
            <p>{{ proj_type[i] }}</p>
          </div>
        </a>
      </div>     
    {% endfor %}
  </div>

  <!-- Education -->
  <h1 class="sec-header">
      <i class="fa fa-graduation-cap" style="color: #08bdbd;" aria-hidden="true"></i> Education
  </h1>
  <hr>

  <section class="sec-edu sec-content-s1">
    <img class="img-circle uni-hero" src="{{site.url}}/img/jnuni_logo.jpg">
    <div>
      <h4>Bachelor Degree in Computer Science</h4>
      <h5>Sep 2010 - Jul 2014</h5>
      <h5>
        <a target="_blank" href="http://www.jiangnan.edu.cn/">Jiangnan University</a>, Wuxi, Jiangsu China
      </h5>
    </div>
  </section>

  <section class="sec-edu sec-content-s2">
    <img class="img-circle uni-hero" src="{{site.url}}/img/adeuni_logo.jpg">
    <div style="vertical-align: middle;">
      <h4>Master of Software Engineering</h4>
      <h5>Jul 2014 - Jul 2016</h5>
      <h5>
        <a target="_blank" href="http://www.adelaide.edu.au/">University of Adelaide</a>, Adelaide, SA Australia
      </h5>
    </div>
  </section>


  <!-- Employment-contract history -->
  <h1 class="sec-header">
    <i class="fa fa-briefcase" style="color: #aa8f66;" aria-hidden="true"></i> Employment-Contract History
  </h1>
  <hr>

  {% for i in (1..3) reversed%}
    {% include employment/employment_history_{{i}}.html employment_index=i %}
  {% endfor %}


  <!-- Degree related history -->
  <h1 class="sec-header">
    <i class="fa fa-certificate" style="color: #7f7caf;" aria-hidden="true"></i> Degree Related Project
  </h1>
  <hr>

  {% for i in (1..2) %}
    {% include degree_project/degree_project_{{i}}.html degree_index=i %}
  {% endfor %}


  <!-- Awards & Achiements -->
  <h1 class="sec-header">
    <i class="fa fa-trophy" style="color: #c9100e;" aria-hidden="true"></i> Awards & Achievements
  </h1>
  <hr>

  <section class="sec-content-s1" style="display: inline-block;">
    <div style="display: inline-block;">
      <div> - Jan 2016, <a class="proj-link" href="http://www.data61.csiro.au/">Data61 Summer Scholarship</a></div>
      <div> - Dec 2013, Second-rate Scholarship</div>
      <div> - Dec 2012, Third-rate Scholarship</div>
      <div> - Dec 2011, Third-rate Scholarships</div>
    </div>
  </section>


  <!-- Skills stack -->

  <h1 class="sec-header">
    <i class="fa fa-cogs" style="color: #fbb132;" aria-hidden="true">    
    </i> Skills Stack
  </h1>
  <hr>

  <div>
    <div style="vertical-align: top;margin-right: 10px;">
      <div class="skill-content"> 
        <div class="skill-type">
          Front-End
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://cdn0.iconfinder.com/data/icons/HTML5/512/HTML_Logo.png"/>
          HTML

        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://cdn.worldvectorlogo.com/logos/css-3.svg"/>
          CSS ( <img class="skill-icon" src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg"/>SASS / <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LESS_Logo.svg/1200px-LESS_Logo.svg.png"/>LESS, <img class="skill-icon" src="http://marketplace.intelledox.com/wp-content/uploads/edd/2017/01/Bootstrap.png"/>Bootstrap)
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"/>
          Ember.js
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://s3.amazonaws.com/media-p.slid.es/uploads/alexanderfarennikov/images/1198519/reactjs.png"/>
          React.js + <img class="skill-icon" src="https://cdn.zapier.com/storage/blog/4ec8fc7dc3a75758a3913bab9e5a4fd8_2.500x278.png"/>Redux
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://camo.githubusercontent.com/d3afdfc8b8075b9daf5109c4af7b8b07ab2d7c04/68747470733a2f2f7261776769746875622e636f6d2f6a61736d696e652f6a61736d696e652f6d61737465722f696d616765732f6a61736d696e652d686f72697a6f6e74616c2e737667"/> Jasmine
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://camo.githubusercontent.com/af4bf83ab2ca125346740f9961345a24ec43b3a9/68747470733a2f2f636c6475702e636f6d2f78465646784f696f41552e737667"/> Mocha.js
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://avatars3.githubusercontent.com/u/6570253?s=400&v=4"/> Sinon.js
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="http://www.codeconquest.com/wp-content/uploads/jQuery-logo.jpg"/> jQuery
        </div>
      </div>
    </div> 
    <div style="vertical-align: top;margin-right: 10px;">
      <div class="skill-content">
        <div class="skill-type">
          Back-End
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="http://www.vizteams.com/wp-content/uploads/2013/08/python-logo-master.png"/> Python( <img class="skill-icon" src="https://automationpanda.files.wordpress.com/2017/09/django-logo-negative.png?w=620"/> Django)
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://www.easyredmine.com/images/articles/p14/f2596/logo.png"/>Ruby( <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png"/> Ruby on Rails)
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://images.sftcdn.net/images/t_optimized,f_auto/p/2f4c04f4-96d0-11e6-9830-00163ed833e7/3163796423/java-runtime-environment-logo.png"/>
          Java
        </div>
        <div class="skill-item"><img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2000px-PHP-logo.svg.png"/>
          PHP
          (<img class="skill-icon" src="https://geeksperhour.com/wp-content/uploads/2014/11/Hire_Laravel_Developer.jpg"/>
          Laravel
          )
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_960_720.png"/>
          Node.js
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="http://www.techietown.info/wp-content/uploads/2017/03/enable-nginx-debug-logging.png"/>
          Nginx
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/MySQL.svg/1200px-MySQL.svg.png"/>
          MySQL
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://www.fullstackpython.com/img/logos/postgresql.jpg"/>
          PostgreSQL
        </div>
      </div>
    </div> 
    <div style="display: inline-block;vertical-align: top;">
      <div class="skill-content">
        <div class="skill-type">
          Other
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://static.wixstatic.com/media/2ac807_3b721eadef1d43ce9c25163a8fe4bd95~mv2.png/v1/fill/w_179,h_179,al_c,usm_0.66_1.00_0.01/2ac807_3b721eadef1d43ce9c25163a8fe4bd95~mv2.png"/>
          <!-- Agile -->
        </div>
        <div class="skill-item">Scrum</div>
        <div class="skill-item">
          <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Subversion_Logo.svg/1200px-Subversion_Logo.svg.png"/>
          <!-- SVN -->
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/1280px-Git-logo.svg.png"/>
          <!-- Git -->
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="https://tr4.cbsistatic.com/hub/i/r/2016/10/18/831f017c-ee68-4bd6-8a5c-ab31b4d35d6d/resize/770x/1cedcf2f03388a9720835a628a8a9765/dockerhero.jpg"/>
          <!-- Docker -->
        </div>
        <div class="skill-item">
          <img class="skill-icon" src="http://tech.osteel.me/images/2015/01/25/vagrant.png"/>
          <!-- Vagrant -->
        </div>
      </div>
    </div>  
  </div>


  <!-- Languages -->
  <h1 class="sec-header">
    <i class="fa fa-language" style="color:#1d9d73;" aria-hidde="true"></i> Language
  </h1>
  <hr>

  <div class="sec-lang">
    <img src="{{site.url}}/img/english.png">
    <img src="{{site.url}}/img/mand.png">
  </div>


  <!-- Interests -->
  <h1 class="sec-header">
    <i class="fa fa-paint-brush" style="color: #489fdf;" aria-hidden="true"></i> Hobbies
  </h1>
  <hr>

  <section class="sec-content-s2" style="display: inline-block;">
    <div> - Running</div>
    <div> - Cooking</div>
    <div> - Traveling</div>
    <div> - Online gaming</div>
    <div> - Reading books</div>
  </section>


  <!-- Books -->
  <h1 class="sec-header">
    Books I <i class="fa fa-heart animated infinite pulse" style="color: pink;" aria-hidden="true"></i>
  </h1>
  <hr>

  <div class="sec-books">
    <div>
      <a target="_blank" href="https://en.wikipedia.org/wiki/One_Hundred_Years_of_Solitude">  
        One Hundred Years of Solitude
      </a>
    </div>
    <div>
      <a target="_blank" href="https://en.wikipedia.org/wiki/The_Moon_and_Sixpence">
        The Moon and Sixpence
      </a>
    </div>
  </div>
</div>