--- 
layout: default 
---



<h1>Employment-Contract History</h1>
<hr>

<section class="post" style="background-color: grey;border-radius: 5px;padding: 3px;">
    <header class="post-header">
        <h3>Jan 2015 - July 2015, SA Australia</h3>
        <h4>Web Developer</h4>
    </header>
    <div>
    	Developing the web application ’House Rent System’ with the aim of establishing a platform helping people find a relevant property.
    </div>
    <div>
    	<ul>
    		<li><b>Application Design</b> Responsible for application establishment by utilising ’Laravel’ framework which is implemented by PHP based upon MVC (Model-View-Controller) pattern.</li>
    		<li><b>Front-end Design</b> Responsible for web page establishment by using HTML, CSS (Bootstrap), JavaScript (JQuery). </li>
    		<li><b>Server Establishment</b> Responsible for database establishment by adopting ’MySQL’ which leverages the back-end storage part.</li>
    	</ul>
    </div>
</section>